
<!----------------- feedback Modal --------------------->
<div class="modal fade" id="feedback" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">feedback</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        
      </div>
      <div class="modal-body">
        <p>text goes here.......</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
 <!------------------------ feedback Modal end ----------------->



<!---------------------bottom navebar------------------------->
<nav class="nav   nav-justified  fixed-bottom bg-dark" style="opacity: 0.6; font-size: 15px;">
  <a  class="nav-item nav-link"  href="#"></a>
  
  <a class="nav-item nav-link" style="color: aliceblue; " href="/lobby" > <i class="fa fa-th" aria-hidden="true" style="font-size: 16px;" ></i> <br> <span class="lobby">Lobby</span> </a>
  <a class="nav-item nav-link" style="color: aliceblue;" href="/symposiumhall"><i class="fa fa-snowflake-o" aria-hidden="true" style="font-size: 16px;"></i><br> <span class="symposium">Symposium Hall</span></a>
  <a class="nav-item nav-link" style="color: aliceblue;" href="https://www.alignapacsymposium.com/home/agenda"target="_blank"><i class="fa fa-bars" aria-hidden="true" style="font-size: 16px;"></i><br> <span class="agenda">Agenda</span></a>
  <a class="nav-item nav-link" style="color: aliceblue;" href="/exhibition"><i class="fa fa-university" aria-hidden="true" style="font-size: 16px;" ></i><br> <span class="exxhibition">Exhibition Hall</span></a>
 
  
  <a class="nav-item nav-link"  href="#"></a>
  
</nav>

<!--------------------bottom navebar-------------------------->