<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main session</title>
    <!-------------video---------------->
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet" />
    <!-------------video---------------->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      .compatibility-message {
        display: none;
      }
      @media (orientation: portrait) {
        html,
        body {
          overflow: hidden;
          background-color: #000;
          max-width: 100%;
        }
        .compatibility-message {
          display: block;
          position: fixed;
          z-index: 999999;
          width: 100%;
          height: 100%;
          background: #13110e;
          text-align: center;
        }

        .compatibility-message img {
          max-width: 100%;
        }
      }

      .card span {
        font-size: 20px;
        padding: 20px 54px;
      }
      .card-content {
        border: 2px solid black;
      }
      .card-content .scroll {
        height: 49%;
        overflow-y: scroll;
      }
      .back-img {
        position: absolute;
        top: 10%;
      }
      @media (max-width: 3840px) {
        .card span {
          font-size: 45px;
          padding: 26px 148px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 39vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 2560px) {
        .card span {
          font-size: 30px;
          padding: 26px 99px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 39vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 1920px) {
        .card span {
          font-size: 20px;
          padding: 20px 54px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 62vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 1366px) {
        .card span {
          font-size: 20px;
          padding: 20px 41px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 49%;
          overflow-y: scroll;
        }
      }
      @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        .card span {
          font-size: 15px;
          padding: 20px 53px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 41vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 1024px) {
        .card span {
          font-size: 15px;
          padding: 20px 33px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 31vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 1000px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 20px;
          padding: 20px 24px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 50vh;
          overflow-y: scroll;
        }
      }

      @media (max-width: 850px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 20px;
          padding: 20px 106px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 19vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 820px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 20px;
          padding: 20px 103px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 19vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 768px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 30px;
          padding: 20px 82px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 19vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 750px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 97px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 700px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 86px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 650px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 82px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 600px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 75px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 570px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 70px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 450px) {
        .card {
          margin: 13px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 44px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 400px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 34px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 380px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 36px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 350px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 20px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 320px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 28px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
      @media (max-width: 300px) {
        .card {
          margin: 10px;
        }
        .card span {
          font-size: 15px;
          padding: 12px 21px;
        }
        .card-content {
          border: 2px solid black;
        }
        .card-content .scroll {
          height: 40vh;
          overflow-y: scroll;
        }
      }
    </style>
  </head>
  <body>
    <!----------------phone orintation-------------------->
    <div class="compatibility-message">
      <img src="images/orintation.jpeg" alt="" />
    </div>

    <!----------------phone orintation-------------------->
    <!------Top navebar------->
    <%- include('./top_nav'); %>

    <!------Top navebar------->
    <header>
     
      <img src="images/Header.png" class="img-fluid" style="width: 100%" />
      <a href="/symposiumhall"> <img class="back-img" src="images/backbtnwhite.png" alt="" style="position:absolute;top:14%;left:5%;width:4%"> </a>
    </header>
    <section class="container-fluid" style="background-image: url(images/Background.png); background-position: center; background-size: 100%; min-height: calc(100vh - 70px)">
      <div class="row">
        <div class="col-lg-7">
         

          <div class="col-12" id="emoji-container" style="padding: 0px;">
            <iframe class="player-frame" width="100%" style="height:100%;border:none;" sandbox="allow-forms allow-scripts allow-same-origin allow-popups" allow="microphone; camera; fullscreen"></iframe>
        </div>
          
          
        </div>
        <div class="col-md-4 mt-2">
          
        </div>
      </div>
    </section>
    <!------bottom navebar------->
    <%- include('./bottom_nav'); %>

    <!------bottom navebar------->
    <!-- JS code -->
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
  
    <script src="https://vjs.zencdn.net/7.2.3/video.js"></script>

    <script>
      var player = videojs("hls-example")
      player.play()
    </script>
  </body>
</html>
